.Card {
    background-image: url('/images/card-back.png');
    background-size: 100% 100%;
    
    border: 1px solid black;
    width: 20%;
    height: 22%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

img {
    height: 100%;
    width: 100%;
}