.Card {
    background-image: url(/images/card-back.png);
    background-size: 100% 100%;
    border: 1px solid black;
    width: 8vw;
    height: 18vh;
    cursor: pointer;
    margin-top: 4%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

img {
    height: 100%;
    width: 100%;
}