.Cardboard-main {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 4%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
}

button {
    padding: 0;
    background: white;
    font-family: 'Shadows Into Light',"Courier New", cursive;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    height: 5vh;
    width: 20vw;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#start-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 100%;
    border: 1px solid black;
}