.Highscores-main{
    width: 33.33%;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: auto 0;
    height: inherit;
}

.highscore-element{
    height: 33%;
    margin-left: 4px;
}