.Level-main {
    width: 33.33%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    background-color: white;
    cursor: default;
}

.Dropdown-root {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
}

.Dropdown-control {
    text-align: center;
    font-weight: bold;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    padding: 1px;
    transition: all 200ms ease;
    border: none;
}

.choose-username {
    font-family: 'Shadows Into Light',"Courier New", cursive;
    cursor: pointer;
    font-size: 1rem;
    color: #333;
    height: 48%;
    width: 100%;
    outline: none;
    text-align: center;
    font-weight: bold;
    border: none;
}

input::placeholder {
    color: #333;
}

input:disabled{
    background-color: white;
}

.Dropdown-menu {
    border: none;
    text-align: center;
    color: black;
    max-height: none;
}

.Dropdown-arrow{
    border-color: black transparent transparent;
}

.is-open .Dropdown-arrow{
    border-color: black transparent transparent;
}